<!doctype html>
<html class="h-14 bg-gradient-to-r from-cyan-200 to-blue-400">
  <head>
    <title>{% block title %}{% endblock %} - MSP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="max-w-lg mx-auto rounded-md">
    <nav class="rounded-t-md prose">
      <h1 class="m-0 ml-1">SMS PLATFORM</h1>
        <div class="tabs">
          <div class="tab-container">
          <ul class="m-0">
            {% if g.user %}
              <li><span>{{ g.user['username'] }}</span>
              <li><a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
              <div id ="tab1" class ="tab">
                <a href="{{ url_for('auth.register') }}">Register</a>
              </div>  
              <div id ="tab2" class ="tab">
                <a href="{{ url_for('auth.login') }}">Login</a>
              </div>
              <div id ="tab3" class ="tab">
                <a href="{{ url_for('auth.forgot') }}">Forgot</a>
              </div>  
            {% endif %}
          </ul>
          </div>
        </div>
    </nav>
    <section class="content">
      <header class="mb-2 flex justify-between">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash rounded-md bg-indigo-300 border-green-600 text-indigo-800">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>